@import '../index.scss';
@import '~react-md/src/scss/react-md';
@import '~highlight.js/styles/monokai.css';

$md-primary-color: $md-deep-orange-500;
$md-secondary-color: $md-light-blue-a-400;
$code-background-color: rgba($md-secondary-color, 0.2);

@include react-md-everything();

body {
  margin: 0;
}

h1 {
  text-align: center;
  margin: 0;
  padding: 20px;
}

h2 {
  background-color: $md-deep-orange-500;
  color: white;
  padding: 12px;
  margin: 6px 0;
}

h3 {
  padding: 8px;
}

p {
  font-size: 16px;
}

em {
  font-weight: bold;
}

code {
  background: $code-background-color;
  padding: 4px;
}

#wrapper {
  margin: 0 auto;
  width: 1024px;
}

.code {
  font-family: monaco, monospace;
  padding: 5px 20px;
  white-space: pre;
  margin-bottom: 10px;
}

.md-paper {
  padding: 6px;
  margin: 6px 0 48px 0;
}

.md-data-table {
  &--responsive {
    overflow-x: visible;
  }

  @include proportional-table()
  @include column-widths((0, 60, 50))
}
