@function sum($list) {
  $sum: 0;
  @each $entry in $list {
    $sum: $sum + $entry;
  }

  @return $sum;
}

@mixin column-widths($proportions) {
  $total: sum($proportions);

  @for $i from 1 through length($proportions) {
    td:nth-child(#{$i}),
    th:nth-child(#{$i}) {
      @if nth($proportions, $i) == 0 {
        // Delete it from view if it has a width of 0
        display: none;
      } @else {
        // Set proportional width (that is a percentage of total)
        width: nth($proportions, $i) / $total * 100%;
      }
    }
  }
}
